kind: Deployment
apiVersion: apps/v1
metadata:
  name: jobboardx-backend-blue
  namespace: jobboardx-ns
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: jobboardx-backend
      version: blue
  template:
    metadata:
      labels:
        app: jobboardx-backend
        version: blue
    spec:
      containers:
        - name: backend
          image: GaneshWalunjX/jobbordx-backend:v1.0.1
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: jobboardx-storage
              mountPath: /app/data
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: jobboardx-storage
          persistentVolumeClaim:
            claimName: jobboardx-pvc
