kind: Deployment
apiVersion: apps/v1
metadata:
  name: jobboardx-frontend-green
  namespace: jobboardx-ns
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: jobboardx-frontend
      version: green
  template:
    metadata:
      labels:
        app: jobboardx-frontend
        version: green
    spec:
      containers:
        - name: frontend
          image: ganesh-cl7/jobbordx-frontend:v1.0.1
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: production
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
