kind: PersistentVolume
apiVersion: v1
metadata:
  name: jobboardx-pv
  namespace: jobboardx-ns
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/jobboardx
